@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;1,300&family=Poppins:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap');
body{
font-family: 'Inter Tight', sans-serif;
font-size: large;
}
.banner {
    background-image: url("gabut2.jpeg")
    no-repeat center center;
    background-size: cover ;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}

.lingkaran{
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: white;
    background-color: #dc3545;
}

.lingkaran i{
    position: relative;
    top: 30px;
}

.anggota img{
    width: 250px;
    border: 10px solid #cccccc;
}

a.sosmed{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

.client img{
    height: auto;
    max-height: 50px;
}

.kontak{
    background: url("/gambar/bg.jpeg") no-repeat center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
}